.form-control {
    box-shadow: none;
}
.alert {
    box-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}
.jumbo-header {
    margin-bottom: 0;
}
.jumbotron {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
        font-weight: 300;
        color: $white;
    }
}
.LimelightEmbeddedPlayer {
    display: block;
    line-height: 0;
}
.admin-bar .modal {
    top: 32px;
}
.lt-ie9 input {
    font-family: Arial !important;
}
.lt-ie9 .fa,
.lt-ie9 .glyphicon {
    display: none !important;
    &:before,
    &:after {
        display: none !important;
    }
}
.lt-ie9 .logout-nav {
    display: none !important;
}
