.form-control {
    box-shadow: none;
}
.alert {
    box-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}
.jumbo-header {
    margin-bottom: 0;
}
.jumbotron {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-weight: 300;
    }
}
