body.home.not-logged-in {
    padding-top: 0;
}

.home .jumbotron {
  h1 {
    font-weight: 300;
    color: $brand-default;
  }
  margin-bottom: 0;
  @media screen and (min-width: $screen-sm-min) {
    padding: {
      top: 20px;
      bottom: 20px;
    }
    //box-shadow: 0 0 200px rgba(0,0,0,0.3) inset;
    h1 {
      margin-bottom: 0;
    }
    p {
      font-size: 20px;
      color: $brand-default;
      padding-bottom: 5px;
    }
  }
}

.home.not-logged-in .jumbotron {
  color: $white;
  background: {
    color: $white;
  }
  @media screen and (min-width: $screen-md-min) {
    padding: {
      top: 50px;
      bottom: 50px;
    }
    //box-shadow: 0 0 120px rgba(0,0,0,0.3) inset;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: {
      top: 50px;
      bottom: 50px;
    }
  }
}

.home.logged-in .jumbotron {
  background-color: #eee;
}

.jumbotron {
  background-color: $brand-default;
}

.home .jumbotron {
  background-color: $white;
}

.pve-logo.logo-lg {
  @include text-hide();
  display: inline-block;
  height: 147px;
  width: 0.625 * 1012px;
  vertical-align: text-top;
  max-width: 100%;
  background: {
    image: url('../img/logo-planview-enterprise-projectplace.png');
    size: contain;
    repeat: no-repeat;
    position: center center;
  }
  @media screen and (min-width: $screen-sm-min) {
    height: 147px;
    width: 1012px;
    margin: {
      top: 5px;
    }
  }
}

.home.not-logged-in .btn {
  font-weight: 800;
}

.home.not-logged-in .btn-default {
  border-color: $gray;
}

.home.not-logged-in .image-banner .btn-default {
  background-color: transparent;
  color: $white;
}


.home .image-banner {
  padding: {
    top: 20px;
    bottom: 20px;
  }
  @media screen and (min-width: $screen-sm-min) {
    background: {
      size: cover;
      attachment: fixed;
      position: 50% 0;
      repeat: no-repeat;
    }
  }
  .ie8 & {
    background-attachment: scroll;
    background-position: center center;
  }
}

.home.not-logged-in .image-banner {
  background-color: $gray-dark;
  color: #fff;
  @media screen and (min-width: $screen-sm-min) {
    background: {
      image: url('../img/laptop-app-bg-dark.jpg');
    }
    padding: {
      top: 100px;
      bottom: 100px;
    }
  }
}

.home.logged-in .image-banner {
  @media screen and (min-width: $screen-sm-min) {
    background: {
      image: url('../img/laptop-app-bg-light.jpg');
    }
    padding: {
      top: 70px;
      bottom: 60px;
    }
  }
}

.home-callout {
    padding: 20px 35px;
    text-align: center;
    color: $white;
    margin-bottom: 20px;
    li {
        margin-bottom: 5px;
    }
    a {
        color: $white;
        text-decoration: underline;
        &:hover, &:active {
            color: #eee;
        }
    }
    &.main {
        background-color: $brand-default;
    }
    &.topics {
        background-color: #67873a;
    }
    &.resources {
        background-color: $brand-primary;
    }
}

.home-callout h3 a {
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 25px;
}

.home-callout h3 img {
  padding-bottom: 15px;
}

.home-callout p {
  text-align: left;
}

.home-callout p.image {
  text-align: center;
}

.home-note-after {
    text-align: center;
    padding: 10px;
    background-color: $gray-dark;
    background-color: rgba(0,0,0,0.6);
    color: $white;
    a {
        color: #c4d0da;
        &:hover, &:active {
            color: #e3eaf0;
        }
    }
}

.home.not-logged-in  .lead li {
  padding-bottom: 15px;
  font-size: 20px;
}