body.home.not-logged-in {
    padding-top: 0;
}

.home .jumbotron {
  h1 {
    font-weight: 300;
  }
  margin-bottom: 0;
  @media screen and (min-width: $screen-sm-min) {
    padding: {
      top: 80px;
      bottom: 80px;
    }
    box-shadow: 0 0 200px rgba(0,0,0,0.3) inset;
    h1 {
      margin-bottom: 36px;
    }
    p {
      font-size: 36px;
    }
  }
}

.home.not-logged-in .jumbotron {
  color: #fff;
  background: {
    color: $brand-primary;
  }
  @media screen and (min-width: $screen-md-min) {
    padding: {
      top: 100px;
      bottom: 100px;
    }
    box-shadow: 0 0 120px rgba(0,0,0,0.3) inset;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: {
      top: 120px;
      bottom: 120px;
    }
  }
}

.home.logged-in .jumbotron {
  @media screen and (min-width: $screen-sm-min) {
    box-shadow: 0 0 100px rgba(0,0,0,0.3) inset;
  }
}

.pve-logo.logo-lg {
  @include text-hide();
  display: inline-block;
  height: 42px;
  width: 0.625 * 522px;
  vertical-align: text-top;
  max-width: 100%;
  background: {
    image: url('../img/logo-planview-enterprise-h-white.png');
    size: contain;
    repeat: no-repeat;
    position: center center;
  }
  @media screen and (min-width: $screen-sm-min) {
    height: 72px;
    width: 522px;
    margin: {
      top: 5px;
    }
  }
}

.home.not-logged-in .btn {
  border-color: #fff;
  // border-width: 3px;
  font-weight: 800;
}

.home .image-banner {
  padding: {
    top: 20px;
    bottom: 20px;
  }
  @media screen and (min-width: $screen-sm-min) {
    background: {
      size: cover;
      attachment: fixed;
      position: 50% 0;
      repeat: no-repeat;
    }
  }
}

.home.not-logged-in .image-banner {
  background-color: $gray-dark;
  color: #fff;
  @media screen and (min-width: $screen-sm-min) {
    background: {
      image: url('../img/video-section-bg.jpg');
    }
    padding: {
      top: 100px;
      bottom: 100px;
    }
  }
}

.home.logged-in .image-banner {
  @media screen and (min-width: $screen-sm-min) {
    background: {
      image: url('../img/light-bg-compressor.jpg');
    }
    padding: {
      top: 40px;
      bottom: 40px;
    }
  }
}

.home-callout {
    padding: 30px 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    li {
        margin-bottom: 5px;
    }
    a {
        color: #fff;
        text-decoration: underline;
        &:hover, &:active {
            color: #eee;
        }
    }
    &.main {
        background-color: #345770;
    }
    &.topics {
        background-color: #67873a;
    }
    &.resources {
        background-color: #9a5b7d;
    }
}

.home-note-after {
    text-align: center;
    padding: 10px;
    background-color: $gray-dark;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    a {
        color: #c4d0da;
        &:hover, &:active {
            color: #e3eaf0;
        }
    }
}
