.single-presentations {
    .content-area, .video {
        padding: {
            top: 40px;
            bottom: 40px;
        }
    }
    .limelight-video-respond {
        margin-bottom: 0;
    }
    .video {
        background-color: #345770;
    }
    .qa-form {
        margin-top: 15px;
    }
}
