
.comment-title, .section-title {
    border-bottom: none;
    margin-bottom: 20px;
    text-transform: none;
    font-weight: 400;
}

.single-presentations, .single-topics {
    .content-area, .video {
        padding: {
            top: 40px;
            bottom: 40px;
        }
    }
    .comment-title, .section-title {
        border-bottom: none;
        margin-bottom: 20px;
        text-transform: none;
        font-weight: 400;
    }
    .limelight-video-respond {
        margin-bottom: 0;
    }
    // .qa-form {
    //     margin-top: 15px;
    // }
    // .qa-confirm {
    //     color: #fff;
    // }
    .presentation-comments, .experts {
        @media screen and (min-width: $screen-sm-min) {
            padding: {
                left: 30px;
                right: 30px;
            }
            border-right: 1px solid #fff;
        }
    }
}

.single-presentations {
    .video {
        background-color: #e0e0e0;
    }
    .qa-title {
        font-weight: 800;
        background-color: $gray-dark;
        color: $white;
    }
    .qa-form {
        margin-top: 30px;
    }
    .qa-confirm {
        margin-top: 30px;
        color: $white;
    }
    .comment-title, .section-title {
        //border-bottom-color: #345770;
        //color: #345770;
    }
}

.single-topics {
    .video {
        background-color: #e0e0e0;
    }
}

.post-type-archive-topics .content-area {
    padding: {
        top: 40px;
        bottom: 40px;
    }
}

.panel-topics {
    @include panel-variant(#ddd, $white, #67873a, #ddd);
}

.comments-title {
        margin-top: 0 !important;
    }
.btn-enterprise {
    color: #666;
    background-color: #c8dded;
    border-color: #618db4;
    &:hover {
        color: #fff;
        background-color: #618db4;
        border-color: #3b566d;
    }
}
.btn-projectplace {
    color: #666;
    background-color: #d9e8da;
    border-color: #8ab98e;
    &:hover {
        color: #fff;
        background-color: #8ab98e;
        border-color: #5c9961;
    }
}