.resources-tabs {
    background-color: $brand-default;
    // padding: 5px 0;
    li a {
        font-weight: 400;
        color: $white;
        background-color: $gray;
        font-size: 20px;
        padding: 5px;
    }
    li a:selected {
        color: $brand-default;
    }
    li a:hover {
        background-color: $brand-default;
        color: $white;
    }
    #tabid-pve-11-5,
    #tabid-troux,
    #tabid-projectplace,
    #tabid-services {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @media (min-width: 768px) {
        .nav-justified>li {
            vertical-align: middle;
        }
    }
    @media only screen and (max-width: 1199px) {
        #tabid-pve-11-5 {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    @media only screen and (max-width: 991px) {
        #tabid-troux,
        #tabid-projectplace,
        #tabid-services {
            padding-top: 18px;
            padding-bottom: 17px;
        }
    }
    @media only screen and (max-width: 767px) {
        #tabid-pve-11-5,
        #tabid-troux,
        #tabid-projectplace,
        #tabid-services {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.featured-resource {
    background-color: $white;
    padding:{
        top: 40px;
        bottom: 40px;
    }
    color: $brand-default;
    .text-muted, small, .small {
        color: $gray;
    }
}
.resource-listing {
    background-color: #eee;
    padding: {
        top: 30px;
        bottom: 0;
    }
}
.single-library .limelight-video-respond {
    margin: {
        top: 40px;
        bottom: 40px;
    }
}

/* Planview demo button */
/* See Bootstrap > btn-primary */

/* Troux demo button */
.btn-troux{color:#fff;background-color:#80bcbb;border-color:#509696}
.btn-troux:focus,.btn-troux.focus{color:#fff;background-color:#509696;border-color:#307d7d}
.btn-troux:hover{color:#fff;background-color:#509696;border-color:#307d7d}
.btn-troux:active,.btn-troux.active,.open>.btn-troux.dropdown-toggle{color:#fff;background-color:#509696;border-color:#307d7d}
.btn-troux:active:hover,.btn-troux:active:focus,.btn-troux:active.focus,.btn-troux.active:hover,.btn-troux.active:focus,.btn-troux.active.focus,.open>.btn-troux.dropdown-toggle:hover,.open>.btn-troux.dropdown-toggle:focus,.open>.btn-troux.dropdown-toggle.focus{color:#fff;background-color:#307d7d;border-color:#509696}
.btn-troux:active,.btn-troux.active,.open>.btn-troux.dropdown-toggle{background-image:none}
.btn-troux.disabled,.btn-troux.disabled:hover,.btn-troux.disabled:focus,.btn-troux.disabled.focus,.btn-troux.disabled:active,.btn-troux.disabled.active,.btn-troux[disabled],.btn-troux[disabled]:hover,.btn-troux[disabled]:focus,.btn-troux[disabled].focus,.btn-troux[disabled]:active,.btn-troux[disabled].active,fieldset[disabled] .btn-troux,fieldset[disabled] .btn-troux:hover,fieldset[disabled] .btn-troux:focus,fieldset[disabled] .btn-troux.focus,fieldset[disabled] .btn-troux:active,fieldset[disabled] .btn-troux.active{background-color:#b4dddd;border-color:#509696}.btn-troux .badge{color:#80bcbb;background-color:#fff}

/* Projectplace demo button */
/* See Bootstrap > btn-warning */

.demo-callout {display: none}
.product-planview-enterprise {
    .btn-troux, .btn-projectplace {display: none}
    .demo-callout {display: block}
}
.product-troux {
    .btn-planview, .btn-projectplace {display: none}
    .demo-callout {display: block}
}
.product-projectplace {
    .btn-planview, .btn-troux {display: none}
    .demo-callout {display: block}
}
