.resources-tabs {
    background-color: #ccc;
    // padding: 5px 0;
    li a {
        font-weight: 800;
        color: #1a3f58;
    }
}

.featured-resource {
    background-color: #9a5b7d;
    padding:{
        top: 40px;
        bottom: 40px;
    }
    color: white;
    .text-muted, small, .small {
        color: $gray-lighter
    }
}
.resource-listing {
    padding: {
        top: 30px;
        bottom: 0;
    }
}
.resource-pane {
    margin-bottom: 30px;
}
.single-library .limelight-video-respond {
    margin: {
        top: 40px;
        bottom: 40px;
    }
}
