.resources-tabs {
    background-color: #ccc;
    padding: 5px 0;
}

.featured-resource {
    background-color: #9a5b7d;
    padding:{
        top: 40px;
        bottom: 40px;
    }
    color: white;
}
.resource-listing {
    padding: {
        top: 20px;
        bottom: 20px;
    }
}
.resource-pane {
    margin-bottom: 30px;
}
