.site-footer {
  background-color: $brand-default;
  color: #fff;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  @media screen and (min-width: $screen-sm-min) {
    padding: {
      top: 40px;
    }
  }
  a {
    color: #ddd;
    &:hover {
      color: #fff;
    }
  }
}
.pv-footer {
  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 40px;
  }
}
.pv-logo {
  @include text-hide();
  display: inline-block;
  height: 48px;
  width: 1163px * 48 / 269;
  background: {
    image: url('../img/logo-planview-white.png');
    size: contain;
    position: center center;
    repeat: no-repeat;
  }
}

// .admin-bar .navbar-fixed-top {
//     @media screen and (min-width: 783px) {
//         top: 32px;
//     }
// }

body {
    padding-top: $navbar-height;
    background-color: $white;
}

.navbar {
    box-shadow: rgba(0,0,0,.4) 0 0 4px 0;
    margin-bottom: 0;
    &.headroom {
        transition: all .4s ease-in-out;
    }
    &.headroom--unpinned {
        top: -100px;
    }
    &.headroom--pinned, &.headroom--top {
        top: 0;
    }
    .admin-bar & {
        &.headroom--top {
            top: 46px;
        }
        &.headroom--pinned, &.headroom--top {
            @media screen and (min-width: $screen-sm-min) {
                top: 32px;
            }
        }
    }
    .dropdown-header {
        font-size: $font-size-base;
        font-weight: $headings-font-weight;
    }
}

#survey {
    display: none;
    /*@media screen and (min-width: 783px) {
        display: block;
        position: fixed;
        right: 30px;
        background-color: $brand-danger;
        border-radius: 4px;
        color: #fff;
        padding: 10px 15px;
        top: 30px;*/
        // border: 1px solid #fff;
        /*z-index: 1000;
        * { display: inline-block; }*/
        // border-color: rgba(255,255,255,0.6);
        /*&.headroom {
            transition: all .3s ease-in-out;
        }
        &.headroom--unpinned {
            opacity: 1;
        }
        &.headroom--pinned, &.headroom--top {*/
            // top: -100px;
            /*opacity: 0;
        }
        .admin-bar & {
            top: 62px;
        }
        .survey-text {
            width: 0;
            margin-left: -1px;
            white-space: nowrap;
            // display: none;
            overflow: hidden;
            line-height: 1;
            vertical-align: text-bottom;
        }
        &:hover, &:active, &:focus {
            color:#fff;
            text-decoration: none;
            background-color: #ca3f3f;
        }
        .lt-ie10 & {
            display: none !important;
        }
    }*/
}

.navbar-brand {
    @include text-hide();
    background:{
        image: url('../img/logo-planview-new-release-black.png');
        position: center center;
        size: contain;
        repeat: no-repeat;
    }
    width: 153px;
    margin-left: 10px;
    @media screen and (min-width: 350px) {
        width: 153px;
    }
    @media screen and (min-width: $screen-sm-min) {
        width: 153px;
        margin-left: 0 !important;
    }
    @media screen and (min-width: $screen-md-min) {
        width: 153px;
    }
    @media screen and (min-width: $screen-lg-min) {
        width: 153px;
    }
}
.single-presentations .pre-limelight-load,
.single-topics .pre-limelight-load {
    display: none;
    color: $white;
    margin-top: 30px;
    a {
        color: #ddd;
        text-decoration: underline;
        &:hover {
            color: $white;
        }
    }
}

.jumbotron h1 {
    font-size: 45px !important;
  }