.site-footer {
  background-color: #1a3f58;
  color: #fff;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  @media screen and (min-width: $screen-sm-min) {
    padding: {
      top: 40px;
    }
  }
}
.pv-footer {
  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 40px;
  }
}
.pv-logo {
  @include text-hide();
  display: inline-block;
  height: 48px;
  width: 1163px * 48 / 269;
  background: {
    image: url('../img/logo-planview-white.png');
    size: contain;
    position: center center;
    repeat: no-repeat;
  }
}

.admin-bar .navbar-fixed-top {
    @media screen and (min-width: 783px) {
        top: 32px;
    }
}

// body {
//     padding-top: $navbar-height;
// }

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    @include text-hide();
    background:{
        image: url('../img/planview-enterprise-11-3-logo.png');
        position: center center;
        size: contain;
        repeat: no-repeat;
    }
    width: 200px;
    margin-left: 10px;
    @media screen and (min-width: 350px) {
        width: 250px;
    }
    @media screen and (min-width: $screen-sm-min) {
        width: 300px;
        margin-left: 0 !important;
    }
    @media screen and (min-width: $screen-md-min) {
        width: 400px;
    }
    @media screen and (min-width: $screen-lg-min) {
        width: 450px;
    }
}
